  -append "root=/dev/ram console=$con,115200 $append {{qn_append}}"							   \
  -device virtio-serial -device virtconsole,chardev=hvc0 -device virtconsole,chardev=hvc1 -device virtconsole,chardev=hvc2 \
    -display none -monitor telnet::{{qn_monitor}},server=on,wait=off -gdb tcp::{{qn_kgdb}},server=on,wait=off 		   \
    -chardev socket,id=hvc0,host=localhost,port={{qn_console}},server=on,wait=off,telnet=on 				   \
    -chardev socket,id=hvc1,host=localhost,port={{qn_ugdb}},server=on,wait=off,telnet=on 				   \
    -chardev stdio,mux=on,id=hvc2 											   \
  -drive if=virtio,file={{name}}.disk,format=raw 									   \
  -rtc base=utc,clock=vm -rtc clock=host										   \
  -device i6300esb
