  -append "root=/dev/ram console=hvc0,115200 {{qn_append}}" \
  -device virtio-serial -device virtconsole,chardev=hvc0 -device virtconsole,chardev=hvc1 \
    -display none -monitor telnet::{{qn_monitor}},server,nowait -gdb tcp::{{qn_kgdb}},server,nowait \
    -chardev socket,id=hvc0,host=localhost,port={{qn_console}},server,nowait,telnet \
    -chardev socket,id=hvc1,host=localhost,port={{qn_ugdb}},server,nowait,telnet \
  -drive if=virtio,file={{name}}.disk,format=raw